.main-navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background: #161618;
	transition: 200ms all ease;
	z-index: 9;
	border-radius: 0px 20px 20px 0px;
}

.main-navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.main-nav-item {
	width: 100%;
}

.main-nav-item:last-child {
	margin-top: auto;
}

.main-nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
}

.main-nav-link svg {
	min-width: 80%;
}

.main-nav-link:hover .main-nav-itemhover {
	visibility: visible;
 	opacity: 1;
}

.main-nav-itemhover {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	max-width: 70%;
	height: auto;
    transform: translate(1rem, -0.2rem);
	position:absolute
}

@keyframes fly-1 {
	from {
		transform: translateY(0.1em);
	}

	to {
		transform: translateY(-0.1em);
	}
}