.bottembar-addButton {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}

.bottembar-addButton-image {
  max-width: 80%;
  transform: translate(1rem, 0);
}

.bottembar-addButton:hover .bottembar-addButton-imageHover {
	visibility: visible;
 	opacity: 1;
}

.bottembar-addButton-imageHover {
  visibility: hidden;
  opacity: 0;
	transition: visibility 0.5s, opacity 0.5s ease;
	max-width: 65%;
	height: auto;
  transform: translate(25px, -5px);
	position:absolute
}
