.item-red {
    background-color: #C3414B;
}

.item-yellow {
    background-color: #EC9B82;
}

.item-blue {
    background-color: #49A7EF;
}

.item-darkblue {
    background-color: #3F4A86;
}

.item-purple {
    background-color: #947CA4;
}