* {
    padding: 0;
    margin: 0;
  }

  .draggable {
    list-style: none;

    border: 1px solid #212121;
    box-sizing: border-box;
    border-radius: 15px;
   

    width: 200px;
    height: 200px;
    text-align: center;

    padding: 10px;
  }

  .draggable:hover {
    cursor: pointer;

    border: 1px solid #3F3F3F;
    box-sizing: border-box;
    border-radius: 15px;

  }