* {
    padding: 0;
    margin: 0;
  }

  .draggable {
    list-style: none;

    border-radius: 26px;
    background: #101214;
    box-shadow:  9px 9px 17px #0f1112,
                -9px -9px 17px #111316;
   

    width: 200px;
    height: 200px;
    text-align: center;

    padding: 10px;
  }

  .draggable:hover {
    cursor: pointer;

    border-radius: 26px;
    background: #121416;
    box-shadow:  9px 9px 17px #0f1113,
             -9px -9px 17px #151719;

  }

  .draggable-canvas {
    border-radius: 26px;
    padding: 10px;
  }