.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10vh;

    display: flex;
    justify-content: center;
}

.popup-inner {
    border-radius: 1rem;
    z-index: 99;
    background: #212121;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 20px;
    right: 100rem;
    padding: 142px;

    width: 30rem;
    height: 30rem;

    color: #FFFBFC;
}

.popup-entry {
    color: rgba(255, 251, 252);
    background: #121212;
    border: 1px solid #0A0A0A;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 20px;
    width: 15rem;
    transition: border 0.7s ease-in;

    transform: translate(-40%, -200%);
}

.popup-entry::placeholder {
    color: rgba(255, 251, 252, 0.5);
}

.popup-error {
    z-index: -1;
    position: absolute;
    color: #AF0606;
    left: 21rem;
    top: 29rem;
}

.popup-entry:focus {
    padding: 12px 20px;
    outline-width: 0;
    transition: border;
}

.popup-enter {
    transform: translate(-40%, 530%);
    margin-top: 3rem;
    width: 15rem;
    height: 2.5rem;
    background: #404040;
    border-radius: 10px;
}

.popup-enter:hover .popup-enterHover {
    visibility: visible;
    opacity: 1;
}

.popup-enter:hover #popup-enter-text {
    transform: translate(7rem, 0rem);
}

.popup-enterHover {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translate(0.5rem, -2rem);
    width: 15rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 4px solid #1CC171;
    box-sizing: border-box;
    border-radius: 10px;
}

#popup-enter-text {
    width: fit-content;
    display: flex;
    transition: all 0.5s ease;
    transform: translate(6.5rem, 0.5rem);
}