.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10vh;

    display: flex;
    justify-content: center;
}

.popup-inner {
    border-radius: 1rem;
    z-index: 99;
    background-color: #191C1F;
    right: 100rem;
    padding: 142px;
    width: 20rem;
    height: 20rem;

    color: #FFFBFC;
}

.popup-entry {
    color: rgba(255, 251, 252);
    background-color: #0F1113;
    padding: 12px 20px;
    border: 2px solid #0F1113;
    border-radius: 4px;
    width: 200%;
    transition: border 0.7s ease-in;

    transform: translate(-28%, -100%);
}

.popup-entry::placeholder {
    color: rgba(255, 251, 252, 0.5);
}

.popup-error {
    z-index: -1;
    position: absolute;
    color: #AF0606;
    transform: translate(-30%, -180%);
}

.popup-entry:focus {
    padding: 12px 20px;
    outline-width: 0;
    transition: border;
    border-bottom: 2px solid #EC058E;
}


.popup-enter {
    transform: translate(-55%, 0%);
    margin-top: 3rem;
}

.popup-enter {
    --color: #44A3AA;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.popup-enter::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.popup-enter::before {
    top: -1em;
    left: -1em;
}

.popup-enter::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.popup-enter:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}

.popup-enter:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}

